<div>

<div style="width: 375px; margin-left: 105px; float: left">
  <p style="font-size: 90%;">
    <%= @person.description %>
  </p>
</div>

<div id="mentees" style="margin-left: 35px; float:left">
  <p style="font-size: 90%">
    <%= pluralize(@person.mentees.count, "Follower") %>  
  </p>
</div>

<div style="margin-right: 15px; float:right">
  <% if signed_in? && (@tl_length > 0) %>
      <%= link_to "Contribute Seed", :action => "contribute", :id => @person.id %>
  <% end %>
</div>

</div>


<div style="clear:both">
<div id="holder"></div>
<div id="contributor_list">
	<p>Contributors</p>
</div>
</div>

<% if (@tl_length == 0) %>

<div style="margin-left: 106px;">

  <div style="float:left">
 <%= form_for @person.works.build(:person_id => @person.id) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div id="seedName">
    <%= f.label :name, "Title the seed" %><br />
    <div class="seedBox"><%= f.text_field :name, :size => 37 %></div>
    <div class="seedDesc" style="margin-top:5px">(Calligraphy Class)</div>
  </div>
  <div id="seedAge">
    <%= f.label :age, "At what age?" %><br />
    <div class="seedBox"><%= f.text_field :age, :size => 37 %></div>
    <div class="seedDesc" style="margin-top:5px">(18)</div>
  </div>
  <div id="seedStory">
    <%= f.label :content, "Tell the story" %><br />
    <div class="seedBox"><%= f.text_area :content, :size => "27x5" %></div>
    <div class="seedDesc" style="margin-top:3px">
	  <p>(After dropping out of college, I took a calligraphy course about what makes great typography great
	  that fascinated me with its beauty and artistic subtlety. That experience has influenced my 
	  designs ever since.)</p>
	</div>
  </div>
  <div id="seedSource">
    <%= f.label :source, "Found where?" %><br />
    <div class="seedBox"><%= f.text_field :source, :size => 37 %></div>
    <div class="seedDesc" style="margin-top:5px">
      <p>(Stanford Commencement Speech 2005)</p>
    </div>
  </div>
  <%= f.hidden_field :person_id %>
  <%= f.hidden_field :contributor_id, :value => current_user.id %>
  <div class="submitButton" style="clear:both">
  	<%= f.submit "Add Seed" %>
  </div>
<% end %>
</div>
</div>




<% else %>
<script type="text/javascript">
    $(document).ready(function() {
        var timelineLength = <%= raw @tl_length.to_json %>;
        var signed_in = <%= raw @signed_bool.to_json %>;
        if(timelineLength > 0 && signed_in) {
          $("#timeline_display").html("<section class=\"round\">" + 
  		  							  "<%= escape_javascript(render 'shared/timeline_display') %>" + 
  		  							  "</section>");
  		  $("#timeline_display").show();
  		}
	});
	
</script>
<% end %>

<div style="clear: both; margin-left: 620px;"><%= render 'users/mentor_form' if signed_in? %></div>






