<div>
 <%= form_for @person.works.build(:person_id => @person.id) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div id="seedName">
    <div class="field" style="float:left"><%= f.label :name, "Title the seed" %></div>
    <div class="seedDesc" style="margin-top:7px">Calligraphy Class</div>
    <div class="seedBox"><%= f.text_field :name %></div>
  </div>
  <div id="seedAge">
    <div class="field" style="float:left; margin-right: 2px"><%= f.label :age, "At what age?" %></div>
    <div class="seedDesc" style="margin-top:7px">18</div>
    <div class="seedBox"><%= f.text_field :age %></div>
  </div>
  <div id="seedStory">
    <div class="field" style="float:left; margin-top: 35px; margin-right: 4px"><%= f.label :content, "Tell the story" %></div>
    <div class="seedDesc" style="margin-top:7px">
	  After dropping out of college, I took a calligraphy course about what makes great typography great
	  that fascinated me with its beauty and artistic subtlety. That experience has influenced my 
	  designs ever since.
	</div>
    <div class="seedBox" style="margin-top:7px"><%= f.text_area :content, :size => "22x15" %></div>
  </div>
  <div class="submitButton" style="clear:both">
  	<%= f.hidden_field :person_id %>
  	<%= f.submit "Add Seed" %>
  </div>
<% end %>
</div>
